/* GLOBAL STYLES */
  body {
    background-color: #F1D2BB;
  }
  
  /* MAINPAGE */
  .header-left {
    font-size:40px;
  }

  .header-right {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .header-current-city {
    font-family: 'Amatic SC';
    font-size: 22px;
  }
  
  .header-current-temp {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .header-current-weather {
    font-family: 'Josefin Sans';
    width: 30%;
    height: 15px;
    flex-shrink: 0;
    border-radius: 9px;
    background: rgba(225, 186, 157, 0.90);
    text-align: center;
    padding: 4px;
  }
  
  .info-group {
    display: flex;
    padding: 20px;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .weather-box {
    width: 100%;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    background: linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
  }
  
  .day-section-title {
    text-align: center;
  }
  
  .day-section-top {
    display: flex;
    align-content: center;
    padding: 10px;
  }
  
  .day-card-top {
    text-indent: 10px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  
  .day-section-bottom {
    text-align: left;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 150px 200px;
  }
  
  .day-card-bottom {
    align-items: flex-end;
  }
  
  .day-card-date {
    display: grid;
  }
  
  .weather-icon {
    display: inline-block;
  }
  
  /* RESPONSIVE */
  
  /* For mobile phones */
  @media only screen and (max-width: 600px) {
    .header-current-city {
      font-size: 20px;
    }
  
    .header-current-temp {
      font-size: 20px;
    }
  
    .header-current-weather {
      font-size: 20px;
    }
  
    .info-group {
      justify-content:center;
    }
  
    .weather-box {
      width: 100%;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
    }
  
    .day-section-top {
      flex-wrap: wrap;
    }
  
    .day-card-top {
      width: 50%;
      margin: 10px;
    }
  
    .day-card-bottom div {
      width: 100%;
    }
  }
  
  /* For small screen laptops */
  @media only screen and (min-width: 1025px) {
    .header-current-city {
      font-size: 70px;
    }
  
    .header-current-temp {
      font-size: 50px;
    }
  
    .header-current-weather {
      font-size: 20px;
    }
  
    .weather-box {
      width: 70%;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
    }
  
    .day-section-top {
      flex-wrap: wrap;
    }
  
    .day-card-top {
      flex-basis: 15%;
      margin: 10px;
    }
  
    .day-section-bottom {
      display: flex;
      flex-wrap: wrap;
    }
  
    .day-card-bottom div {
      width: 100%;
    }
  
    .day-card-bottom img {
      margin-right: 10px;
    }
  
    .info-group {
      justify-content:center;
    }
  }
  
  /* COUNTRIES */
  
  .header-right {
    font-family: 'Amatic SC';
    font-size: 25px;
  }
  
  .city-box-sections {
    text-align: center;
  }
  
  .city {
    font-family: 'Amatic SC';
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
    margin-top: -80px;
    padding: 10px;
  }
  
  .city-card-1 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #374A67;
  }
  
  .city-card-2 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #29524A;
  }
  
  .city-card-3 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #616283;
  }
  
  .city-card-4 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #64699C;
  }
  
  .city-card-week,
  .city-card-date,
  .city-card-time,
  .city-card-degree {
    font-family: 'Josefin Sans';
    font-size: 15px;
  }
  
  .column-1 {
    float: left;
    width: 50%;
  }
  
  .column-2 {
    float: right;
    width: 50%;
  }
  
  /* RESPONSIVE */
  
  /* For iPhone */
  @media only screen and (max-width: 767px) {
    .header-current-city {
      font-size: 40px;
    }
  
    .header-current-temp {
      font-size: 30px;
    }
  
    .header-current-weather {
      font-size: 20px;
    }
  
    .info-group {
      align-content: center;
    }
  
    .weather-box {
      width: 100%;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
    }
  
    .day-section-top {
      flex-wrap: wrap;
    }
  
    .day-card-top {
      width: 50%;
      margin: 10px;
    }
  
    .day-card-bottom div {
      width:100%;
    }
  
    .info-group {
      align-content: center;
    }
  }
  
  /* For laptops */
  @media only screen and (min-width: 1025px) {
    .header-current-city {
      font-size: 100px;
    }
  
    .header-current-temp {
      font-size: 100px;
    }
  
    .header-current-weather {
      font-size: 20px;
    }
  
    .weather-box {
      width: 70%;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
    }
  
    .day-section-top {
      flex-wrap: wrap;
    }
  
    .day-card-top {
      flex-basis: 15%;
      margin: 10px;
    }
  
    .day-section-bottom {
      display: flex;
      flex-wrap: wrap;
    }
  
    .day-card-bottom div {
      width: 100%;
    }
  
    .day-card-bottom img {
      margin-right: 10px;
    }
  
    .info-group {
      align-content: center;
    }
  }
  
  /* COUNTRIES */
  
  .header-right {
    font-family: 'Amatic SC';
    font-size: 25px;
  }
  
  .city-box-sections {
    text-align: center;
  }
  
  .city {
    font-family: 'Amatic SC';
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
    margin-top: -80px;
    padding: 10px;
  }
  
  .city-card-1 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #374A67;
  }
  
  .city-card-2 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #29524A;
  }
  
  .city-card-3 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #616283;
  }
  
  .city-card-4 {
    width: 200px;
    padding: 90px;
    height: 45px;
    margin: 15px;
    border-radius: 50px;
    color: white;
    background-color: #64699C;
  }
  
  .city-card-week,
  .city-card-date,
  .city-card-time,
  .city-card-degree {
    font-family: 'Josefin Sans';
    font-size: 15px;
  }
  
  .column-1 {
    float: left;
  }
    
/* RESPONSIVE */

/* INDEXES */

.air-quality-section {
    width:200px;
    height:300px;
    padding:100px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
    align-items: center;
    display:flex;

}

.air-quality {
    font-family: 'Amatic Sc';
    font-size: 30px;
    text-align:center;
    margin-bottom:10px;

}

.uv-index {
    font-family: 'Amatic Sc';
    font-size: 30px;
    padding:10px;
    margin-bottom:10px;
    align-items: center;
    display:flex;
    top: 50px;
    transform: translateX(-20%); 
    left: 38%;
}

.uv-section {
    width:200px;
    height:300px;
    padding:100px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
 }

.rainfall {
    font-family: 'Amatic Sc';
    font-size: 30px;
    text-align:center;
    margin-bottom:10px;
}

.rainfall-section {
    width:200px;
    height:300px;
    padding:100px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.wind-time {
    font-family: 'Amatic Sc';
    font-size: 30px;
    text-align:center;
    margin-bottom:10px;
}

.wind-section {
    width:200px;
    height:300px;
    padding:100px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.humidity {
    font-family: 'Amatic Sc';
    font-size: 30px;
    text-align:center;
    margin-bottom:10px;
    top:1400px;  
    transform: translateX(20%); 
    left: 90%;
}

.humidity-section {
    width:200px;
    height:300px;
    padding:100px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);

}

.feels-like {
    font-family: 'Amatic Sc';
    font-size: 30px;
    text-align:center;
    margin-bottom:10px;
    position: absolute;
    top:1850px;  
    transform: translateX(-30%); 
    left: 38%;
}

.feels-like-section {
    width:200px;
    height:300px;
    padding:100px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.sunrise-time {
    font-family: 'Amatic Sc';
    font-size: 30px;
    text-align:center;
    margin-bottom:10px;
    position: absolute;
    top: 1850px;  
    transform: translateX(-20%);
    left: 60%; 
}

.sunrise-section {
    width:200px;
    height:300px;
    border-radius: 50px;;
    padding:100px;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.first-row {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 

}

.second-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px; 
    justify-content:center;
}

.third-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content:center;

}

.fourth-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px; 
    justify-content:center;

}

/* RESPONSIVE */

/* LAPTOPS */
@media only screen and (min-width: 1025px) {

.air-quality-section {
    width:900px;
    padding:200px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.air-quality {
  font-family: 'Amatic Sc';
  font-size: 30px;
}

.uv-index {
  font-family: 'Amatic Sc';
  font-size: 30px;
}

.uv-section {
  width:250px;
  padding:100px;
  margin:15px;
  border-radius: 50px;;
  background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.rainfall {
  font-family: 'Amatic Sc';
  font-size: 30px;
}

.rainfall-section {
  width:250px;
  padding:100px;
  margin:15px;
  border-radius: 50px;;
  background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}
}

/* PHONES */


/*  SEARCH */

.city {
    font-family: 'Amatic Sc';
    font-size:25px;
}

.city-card-1 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#374A67;
} 

.city-card-2 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#29524A;
}

.city-card-3 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#616283;
}

.city-card-week, .city-card-date, .city-card-time {
    font-family:'Josefin Sans';
    font-size:15px;
    display:flex-start;
}

.city-card-degree {
    font-family:'Josefin Sans';
    font-size:15px;
    display:flex-end;
}

.weather-icon {
    width:75px;
    align-content: center;
}

/* RESPONSIVE */




/* LOADING */ 

.loading-info {
    font-family:'Amatic Sc';
    font-size:40px;

}

.dot-typing {
    font-family:'Amatic Sc';
    font-size:20px;
}

.image-icon {
    align-content:center;
} 

/* RESPONSIVE */


