/* GLOBAL STYLES*/
body {
    background-color: #F1D2BB;
  }

/* MAINPAGE */
.header-right {
    position: absolute;
    top: 0px;
    right: 0px;;
}

.header-current-city {
    font-family: 'Amatic SC';
    font-size: 22px;
}

.header-current-temp {
    font-size:40px;
    font-family: 'Josefin Sans', 'sans-serif';
}

.header-current-weather {
    font-family: 'Josefin Sans', ;
    width: 80px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 9px;
    background: rgba(225, 186, 157, 0.90);
    text-align: center;
    padding:4px;
}

.info-group {
    display:flex;
    padding:20px;
    align-content: center;
    font-family: 'Josefin Sans', 'sans-serif';
}

.weather-box {
    width:300px;
    padding:50px;
    margin:20px;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.day-section-title {
    text-align: center;
}

.day-section-top {
    display:flex;
    align-content: center;
    padding:10px;
}

.day-card-top {
    text-indent:10px;
    letter-spacing: 1.5px;
    text-align: center;
}

.day-section-bottom {
    text-align: left;
    padding:10px;
    display:grid;
    grid-template-columns: 100px 150px 200px;
}

.day-card-bottom 
{
    align-items: flex-end;
}

.day-card-date{
    display:grid;
}

.weather-icon {
    display:inline-block;
}

/* COUNTRIES */

.header-right {
    font-family: 'Amatic Sc';
    font-size:25px;
}

.city-box-sections {
    text-align:center;
}


.city {
    font-family: 'Amatic Sc';
    font-size:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
    margin-top: -80px; 
    padding: 10px;

}

.city-card-1 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#374A67;
}

.city-card-2 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#29524A;
}

.city-card-3 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#616283;
}

.city-card-4 {
    width:200px;
    padding:90px;
    height:45px;
    margin:15px;
    border-radius: 50px;;
    color:white;
    background-color:#64699C;
}


.weather-icon {
    width:75px;
    align-content: center;
}

.city-card-week, .city-card-date, .city-card-time, .city-card-degree {
    font-family: 'Josefin Sans';
    font-size:15px;
    text-align: center;
}

/* INDEXES */

.air-quality-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.air-quality {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.uv-index {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.uv-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.rainfall {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.rainfall-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.wind-time {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.wind-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.humidity {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.humidity-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.feels-like {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.feels-like-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.sunrise-time {
    font-family: 'Amatic Sc';
    font-size: 30px;
}

.sunrise-section {
    width:250px;
    padding:100px;
    margin:15px;
    border-radius: 50px;;
    background:linear-gradient(184deg, rgba(227, 187, 144, 0.78) 0%, rgba(230, 197, 162, 0.56) 100%);
}

.first-row {
    display:flex;
    padding:10px;
    align-content:center;
}

.second-row {
    display:flex;
    padding:10px;
    align-content:center;
}

.third-row {
    display:flex;
    padding:10px;
    align-content:center;
}