/* GLOBAL STYLES*/
body {
    background-color: #F1D2BB;
  }

/* MAINPAGE */
.header-right {
    position: absolute;
    top: 0px;
    right: 0px;;
}

.header-current-city {
    font-family: 'Amatic SC';
}

.header-current-temp {
    font-size:40px;
    font-family: 'Josefin Sans', 'sans-serif';
}